@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1{
  color: #70aabc;
  font-size: 30px;
  font-weight: 600;
}

header{ 
  background-color: #5db1bb;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}



.logo-header{
  margin-right: 15vw;
  margin-left: 5vw;  
}

.header-text{
  display: flex;
  margin-right: 5vw;
}

.log-out{
  margin-left: 55vw;
}

footer{
    height: 5vh;
    background-color: #5db1bb;
    
}

main {
  min-height: 85vh;
  background-color: #fff;
  color: #000;
}

fieldset{
  margin-bottom: 15px;
}

fieldset p{
  color: #000;
  font-weight: 600;
}

.form-input{
  border: 1px solid black;
  border-radius: 5px;
  line-height: 2;
  padding: 5px 10px;
  color: #000;
}

.login-button{
  line-height: 2;
  background-color: #5db1bb;
  color: #fff;
  padding: 0px;
  border-radius: 5px;
}

.login-link{
  padding: 10px 25px;
}

.productListWrapper{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsList{
  display: flex;
  flex-wrap: wrap;
  max-width: 1330px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.product {
  display: flex;
  margin: 20px;
  padding: 5rem;
  border: 1px solid black;
}


@media (max-width:1000px) {
  .logo-header{
    margin-right: 5vw;
    margin-left: 1vw;  
  }

  .log-out{
    margin-left: 15vw;
  }

}
